.fixedimg1 {
  background-image: url(https://i.ytimg.com/vi/4anybO2UaI8/maxresdefault.jpg);
}

.fixedimg {
  background-attachment: fixed;
  background-size: cover;
  height: 250px;
}

.box {
  border: 5px solid #f5f5f5;
  background: linear-gradient(to top right, #fff 10%, #000 100%);
  font-family: "Raleway", sans-serif;
  text-align: center;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  position: relative;
}
.box:before {
  content: "";
  width: 50%;
  height: 75%;
  border-top: 208px solid rgba(7, 0, 2, 0.3);
  border-left: 140px solid rgba(240, 74, 126, 0.6);
  border-bottom: 188px solid transparent;
  border-right: 160px solid transparent;
  position: absolute;
  top: 0;
  left: -230px;
  z-index: 1;
  transition: all 0.4s ease-in-out;
}
.box:hover:before {
  border-top: 325px solid rgba(240, 74, 126, 0.8);
  border-left: 422px solid rgba(240, 74, 126, 0.8);
  border-bottom: 218px solid transparent;
  border-right: 160px solid transparent;
  transform: rotate3d(0, 0, 1, 52deg) scale3d(1, 1, 1);
  top: 103px;
  left: -350px;
}
.box img {
  width: 100%;
  height: auto;
  transform: scale(1, 1);
  transition: all 0.3s ease-in-out;
}
.box:hover img {
  opacity: 0.7;
  transform: scale(1.1, 1.1);
}
.box .box-content {
  color: #fff;
  background-color: rgba(240, 74, 126, 0.8);
  width: 60%;
  padding: 10px 10px;
  transform: scale(0);
  position: absolute;
  top: 15px;
  right: 15px;
  transition: all 0.5s ease-in-out;
}
.box:hover .box-content {
  transform: scale(1);
}
.box .title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
}
.box .post {
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  text-transform: capitalize;
  display: block;
}
.box .icon {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.box .icon li {
  margin: 0 3px 0 0;
  display: inline-block;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.box:hover .icon li {
  opacity: 1;
}
.box:hover .icon li:nth-child(1) {
  transition-delay: 0.2s;
}
.box:hover .icon li:nth-child(2) {
  transition-delay: 0.3s;
}
.box .icon li a {
  color: #f04a7e99;
  background-color: #fff;
  font-size: 16px;
  line-height: 28px;
  height: 30px;
  width: 30px;
  border: 2px dotted transparent;
  border-radius: 50%;
  display: block;
  transform: rotate(0);
  transition: all 0.3s;
}
.box .icon li a:hover {
  color: #f44178;
  background: #fff;
  border-color: #f44178;
  transform: rotate(360deg);
}
@media only screen and (max-width: 990px) {
  .box {
    margin: 0 0 30px;
  }
}
/**/
/*----  Main Style  ----*/
#cards_landscape_wrap-2 {
  text-align: center;
  background: #f7f7f7;
}
#cards_landscape_wrap-2 .container {
  padding-top: 80px;
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer {
  background: #ffffff;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto Black", sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}
.modal-backdrop {
  z-index: -1 !important;
}
.carousel-item {
  height: 800px !important;
}
.carousel-item img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
